<%= form_with(model: @assessment, class: "row g-3 m-4", local: true) do |f| %>
  <%= f.hidden_field :role_id, value: params[:role] %>
  <%= f.hidden_field :assessment_season_id, value: current_season.id %>
  <%= f.hidden_field :assessor_email, value: @assessor_email %>
  <% if @skills %>
  <% @skills.each_with_index do |skill, index| %>
  <div class="border border-dark border-2 rounded-3 p-4">
  <div class="mb-3 row">
    <%= f.label :"skill#{index+1}_name", "Skill", class: "col-2 col-form-label" %>
    <div class="col-10">
      <%= f.text_field :"skill#{index+1}_name", class: "form-control-plaintext", value: skill.skill.name, readonly: true, disabled: true %>
    </div>
  </div>
  <div class="mb-3 row">
    <%= f.label :"skill#{index+1}_definition", "Skill definition", class: "col-2 col-form-label" %>
    <div class="col-10">
      <%= f.text_area :"skill#{index+1}_definition", class: "form-control-plaintext", value: skill.skill.definition, readonly: true, rows: 4, disabled: true %>
    </div>
  </div>
  <div class="mb-3 row">
    <%= f.label :"skill#{index+1}_skill_level_name", "Skill level", class: "col-2 col-form-label" %>
    <div class="col-10">
      <%= f.text_field :"skill#{index+1}_skill_level_name", class: "form-control-plaintext", value: skill.skill_level.name, readonly: true, disabled: true %>
    </div>
  </div>
  <div class="mb-3 row">
    <%= f.label :"skill#{index+1}_skill_level_definition", "Skill level definition", class: "col-2 col-form-label" %>
    <div class="col-10">
      <%= f.text_area :"skill#{index+1}_skill_level_definition", class: "form-control-plaintext", value: skill.skill_level_definition, readonly: true, rows: 4, disabled: true %>
    </div>
  </div>
  <div class="mb-3 row">
    <%= f.label :"skill#{index+1}_skill_level_status", "Skill level status", class: "col-2 col-form-label" %>
    <div class="col-6">
      <%= f.select(:"skill#{index+1}_skill_level_status", ["None / Not applicable", "Working towards this level", "Working at this level", "Working above this level"], {include_blank: "Select one from this list"}, class: "form-select") %>
    </div>
  </div>
  <div class="mb-3 row">
    <%= f.label :"skill#{index+1}_self_assessment_justification", "Justification", class: "col-2 col-form-label" %>
    <div class="col-10">
      <%= f.rich_text_area :"skill#{index+1}_self_assessment_justification" %>
    </div>
  </div>
  </div>
  <% end %>
  <% end %>
  <div class="row justify-content-md-center mt-5">
    <%= f.submit "Submit assessment", class: "col-6 btn btn-success btn-lg", params: {assessor_email: params[:assessor_email_address]} %>
    <%= link_to "Cancel", root_path, class: "col-3 btn btn-danger btn-lg ms-4" %>
  </div>
<% end %>