<%= form_with(scope: :sessions, url: signin_path, class: "row g-3 m-4", local: true) do |f| %>
  <div class="col-md-12">
    <%= f.label :email, class: "form-label"%>
    <%= f.email_field :email, required: true, class: "form-control form-control-lg" %>
  </div>
  <div class="col-md-12">
    <%= f.label :password, "Password", class: "form-label"%>
    <%= f.password_field :password, required: true, class: "form-control form-control-lg" %>
  </div>
  <div class="col-12 mt-5">
    <%= f.submit "Sign in", class: "btn btn-success btn-lg col-4" %>
    <%= link_to "Cancel", root_path, class: "btn btn-danger btn-lg col-2" %>
  </div>
<% end %>