<%= form_with(model: @user, local: true, class: "row g-3 m-4") do |f| %>
  <div class="col-md-6">
    <%= f.label :firstname, class: "form-label"%>
    <%= f.text_field :firstname, validated_class(:firstname) %>
  </div>
  <div class="col-md-6">
    <%= f.label :lastname, class: "form-label"%>
    <%= f.text_field :lastname, validated_class(:firstname) %>
  </div>
  <div class="col-12">
    <%= f.label :job_title, class: "form-label"%>
    <%= f.text_field :job_title, validated_class(:job_title) %>
  </div>
  <div class="col-12">
    <%= f.label :department, class: "form-label"%>
    <%= f.text_field :department, validated_class(:department) %>
  </div>
  <div class="col-md-12">
    <%= f.label :email, class: "form-label"%>
    <%= f.email_field :email, validated_class(:email) %>
  </div>
  <div class="col-md-6">
    <%= f.label :password, "Password", class: "form-label"%>
    <%= f.password_field :password, validated_class(:password) %>
  </div>
  <div class="col-md-6">
    <%= f.label :password2, "Re-enter password", class: "form-label"%>
    <%= f.password_field :password2, validated_class(:password2) %>
  </div>
  <% if logged_in? && current_user.is_admin? %>
  <div class="col-md-12 form-check form-switch mt-4">
    <%= f.check_box :is_admin, class: "form-check-input" %>
    <%= f.label :is_admin, "Is this an admin?", class: "form-check-label" %>
  </div>
  <% end %>
  <div class="col-12 mt-5">
    <%= f.submit "Submit", class: "btn btn-success btn-lg col-4" %>
    <%= link_to "Cancel", :back, class: "btn btn-danger btn-lg col-2" %>
  </div>
<% end %>