<div class="row justify-content-md-center">
  <div class="col-12">
    <h1 class="display-1">User administration</h1>
  </div>
</div>
<div class="row mt-5">
  <div class="col-12">
  <% if @users.any? %>
    <h5><%= pluralize(@users.count, "user") %> found.</h5>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Firstname</th>
          <th scope="col">Lastname</th>
          <th scope="col" class="col-4">Email</th>
          <th scope="col">Admin?</th>
          <th scope="col" class="col-3">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |u| %>
        <tr>
          <th scope="row"><%= u.id %></th>
          <td><%= u.firstname %></td>
          <td><%= u.lastname %></td>
          <td><%= u.email %></td>
          <td><%= u.is_admin? %></td>
          <td>
          <%= link_to "View profile", user_path(u), class: "btn btn-outline-primary btn-sm" %>
          <%= link_to "Edit", edit_user_path(u), class: "btn btn-outline-warning btn-sm" %>
          <%= link_to "Delete", user_path(u), method: :delete, class: "btn btn-outline-danger btn-sm" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% else %>
      <h5>There are no users found.</h5>
    <% end %>
  </div>
</div>