<div class="row justify-content-md-center">
  <div class="col-9">
    <h1 class="display-1"><strong><%= @user.display_name %></strong></h1>
    <span class="h2"><%= @user.job_title %></span>, <span class="h5"><%= @user.department %></span>
    <div class="input-group flex-nowrap mt-5 pe-5">
      <span class="input-group-text" id="addon-wrapping">@</span>
      <input type="text" class="form-control form-control-lg me-5" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping" value=<%= @user.email %> disabled readonly>
    </div>
  </div>
  <div class="col-3">
    <div class="d-grid gap-2 col-12 mx-auto mt-5 border border-2 border-dark rounded-3 p-4">
      <%= link_to "Edit this user", edit_user_path(@user), class: "btn btn-outline-warning btn-lg" %>
      <%= link_to "Delete this user", user_path(@user), method: :delete, class: "btn btn-outline-danger btn-lg" %>
    </div>
  </div>
</div>
<div class="row mt-5">
  <div class="col-12">
    <% if @user.assessments.any? %>
    <h5><%= pluralize(@user.assessments.count, "submission") %> found.</h5>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Season</th>
          <th scope="col">Role</th>
          <th scope="col">Assessor</th>
          <th scope="col" class="col-2">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @user.assessments.each do |a| %>
        <tr>
          <th scope="row"><%= a.assessment_season.name %></th>
          <td><%= a.role.name %></td>
          <td><%= a.assessor_email %></td>
          <td>
          <%= link_to "View", assessment_path(a), class: "btn btn-outline-primary btn-sm" %>
          <%= link_to "Edit", edit_assessment_path(a), class: "btn btn-outline-warning btn-sm" %>
          <%= link_to "Delete", assessment_path(a), method: :delete, class: "btn btn-outline-danger btn-sm" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% else %>
      <h5>There are no submissions found.</h5>
    <% end %>
  </div>
</div>