<% if logged_in? %>
  <div class="row justify-content-md-center">
    <div class="col-12 text-center mt-5 mb-5">
      <h1 class="display-1">Welcome, <%= current_user.display_name %></h1>
      <% if current_season %>
      <h3>The <mark><strong><%= current_season.name %></strong></mark> DDaT Assessment window is now open.</h3>
      <button type="button" class="btn btn-primary btn-lg mt-5" data-bs-toggle="modal" data-bs-target="#roleModal">
        Start your assessment
      </button>
      <% else %>
      <p>DDaT Assessment window is now closed. Please try again later.</p>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="row justify-content-md-center mt-5 mb-5">
    <div class="col-12 text-center">
      <h1 class="display-1">Digital, Data and Technology</h1>
      <h1>Profession Capability Assessment</h1>
    </div>
  </div>
<% end %>


<!-- Modal -->
<div class="modal fade" id="roleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Which role are you submitting this assessment for?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%= form_with(url: assessments_new_path, local: true, method: :get) do |f| %>
      <div class="modal-body">
        <%= f.label :role, "Which role are you submitting this assessment for?", class: "form-label" %>
        <%= f.select(:role, @roles.collect{|role| [role.name, role.id]}.unshift(["Select one from this list", "0"]), {}, class: "form-select form-select-lg mb-3") %>
        <div class="mb-3">
          <%= f.label :assessor_email_address, class: "form-label" %>
          <%= f.email_field :assessor_email_address, class: "form-control form-control-lg", placeholder: "firstname.lastname@justice.gov.uk" %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <%= f.submit "Proceed", class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
