<div class="row justify-content-md-center">
  <div class="col-9">
    <h1 class="display-1">Assessment seasons</h1>
  </div>
  <div class="col-3">
    <div class="d-grid gap-2 col-12 mx-auto mt-5 border border-2 border-dark rounded-3 p-4">
      <%= link_to '<i class="bi bi-calendar2-week"></i> Add a new season'.html_safe, new_assessment_season_path, class: "btn btn-success btn-lg" %>
    </div>
  </div>
</div>
<div class="row mt-5">
  <div class="col-12">
  <% if @assessment_seasons.any? %>
    <h5><%= pluralize(@assessment_seasons.count, "season") %> found.</h5>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Start Date</th>
          <th scope="col">End Date</th>
          <th scope="col" class="col-2">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @assessment_seasons.each do |a| %>
        <tr>
          <th scope="row"><%= a.id %></th>
          <td><%= a.name %></td>
          <td><%= a.start_date.strftime("%A, %e %B %Y") %></td>
          <td><%= a.end_date.strftime("%A, %e %B %Y") %></td>
          <td>
          <%= link_to "Edit", edit_assessment_season_path(a), class: "btn btn-outline-warning btn-sm" %>
          <%= link_to "Delete", assessment_season_path(a), method: :delete, class: "btn btn-outline-danger btn-sm" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% else %>
      <h5>There are no seasons found.</h5>
    <% end %>
  </div>
</div>